<div *ngIf="poll">
	<div class="notebook-wrapper">
	  <div id="choices-data-container" class="notebook">
	      <div class="question">{{poll.question}}</div>
	      <div class="new-line"></div>
	      <div *ngFor="let choice of poll.choices; let i=index">
		      <div class="entry">
	          	<div class="vote_color" [style.background-color]="getColor(i)"></div>
	          	<div class="choice">{{choice.text}}</div>
	          <div class="meter-container">
              <div class="meter">
                <div class="bar" [style.width]="calcPercentage(choice)" [style.background-color]="getColor(i)"></div>
              </div>
	              <div class="votes">{{choice.votes}}</div>
	              <div class="votes-text">{{pluralize(choice)}}</div>
	             	<div class="percentage">({{calcPercentage(choice)}})</div>
	          </div>  
		      </div>
	    	</div>
	  </div>
	  <div id="chart-data-container" class="notebook">
	      <div id="chart-title"> {{poll.question}} (Graph)</div>
	      <div id="chart-wrapper">
  			<div chart id="chart" [chart]="chart"></div>
	  </div>
  	<!-- <chart [poll]="poll"></chart> -->
  	<!-- <testchart [poll]="poll"></testchart> -->

<!-- 	  <div id="chart-data-container" class="notebook">
	      <div id="chart-title"> {{poll.question}} (Graph)</div>
	      <div id="chart-wrapper">
	      	 
	          <google-chart id="chart" [chart]="chart"></google-chart>
	          <div id="chart" [chartData]="chart.getDataTable()" [chartOptions]="chart.getOptions()" chartType="{{chart.getType()}}" GoogleChart></div>
	      </div>
	  </div> -->
	</div>
	<div id="footer">
	    <!-- <img src="https://www.djangoproject.com/s/img/badges/djangopowered126x54.gif" /> -->
	</div>
</div>