<div *ngIf="popup && popup.getDisplay()">
	<div id="popup-wrapper">
    <div id="popup-container">
      <div id="hide-button-container" *ngIf="popup.getNewPoll()">
        <button id="hide-button" (click)="hidePopup()">&#10006;</button>
      </div>
      <div id="popup-content">{{popup.getMsg()}}</div>
      <div id="poll-url-container" *ngIf="popup.getNewPoll()">
        <a [routerLink]="popup.getUrl()" id="poll-url" title="Click to redirect!">{{popup.getUrlStringWithBase()}}</a>
      </div>
      <div id="popup-ok-button-container" *ngIf="popup.isError()">
        <button id="popup-ok-button" (click)="hidePopup()">OK</button>
      </div>
    </div>
	</div>
	<div id="fade"></div>
	<div id="footer">
</div>