@import 'sizes';

/*For mobile */
@media only screen 
    and (-webkit-device-pixel-ratio:3) {

    body {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }

    #header {

        #header-title {
            @include rem(font-size, $default-size);
        }
    }


    .notebook {
        width: 100%;
        max-width: 100%;
        min-width: 0;
        display: block;
        @include rem(margin-top, 10px);
        margin-left: 0;
        @include rem(border-radius, 6px 14px 14px 6px);
        @include rem(background-size, $mini-size $mini-size, $mini-size $mini-size, $mini-size $mini-size);
        @include rem(padding, $mini-size 10px 48px 80px);

        .question {
            @include rem(font-size, $mini-font-size);
            @include rem(line-height, $mini-size);
            @include rem(letter-spacing, $mini-letter-spacing);
            font-weight: bold;
        }

        .choice {
            @include rem(font-size, $mini-font-size);
            @include rem(line-height, $mini-size);
            @include rem(letter-spacing, $mini-letter-spacing);
        }

        .new-line{
            @include rem(height, $mini-size);
        }
    }
}