@import "rem";
@import "colors";
@import "sizes";
@import "fonts";

#fade {
    display: inline-block;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}


#popup-wrapper {
    display: inline-block;
    width: 100%;
    position: absolute;
    overflow: visible;
    z-index: 9000;
    top: 0%;
    left: 0%;
    text-align: center;
    @include rem(margin-top, 200px);


    #popup-container {
        @include rem(max-width, 600px);
        display: inline-block;
        @include rem(margin-top, 40px);
        box-sizing: border-box;
        text-align: left;
        word-wrap: break-word;
        color: $main-color;
        background: $main-color-bg;
        @include rem(box-shadow, 0px 3px 15px hsla(0,0%,0%,.08));
        position: relative;
        @include rem(border, 1px solid #dfdfd3);
        @include rem(border-radius, 15px 15px 15px 15px);
        @include rem(padding, 5px 20px 20px 20px);

        #hide-button-container {
            display: block;
            text-align: right;        

            #hide-button {
                @include rem(-webkit-border-radius, 15px);
                @include rem(border-radius, 15px);
                @include rem(font-size, $default-font-size/2);
                @include rem(line-height, $default-size/2);
            }
        }

        #popup-content {
            display: block;
            word-wrap: break-word;
            @include rem(margin-top, 10px);
            font-family: $main-font;
            @include rem(letter-spacing, -1px);
            @include rem(font-size, $default-secondary-size);
            @include rem(line-height, $default-size);
        }

        #poll-url-container {
            @include rem(margin-top, 10px);
            text-align: center;
            display: block;

            #poll-url {
                cursor: pointer;
                @include rem(padding, 2px 18px 2px 18px);
                color: #B20000;
                font-family: $main-font;
                @include rem(letter-spacing, -1px);
                @include rem(font-size, $default-secondary-size);
                @include rem(line-height, $default-size);

                &:hover:not(:active) {
                    @include rem(border, 1px solid $main-color);
                    @include rem(padding, 1px 19px 1px 19px);
                }

                &:active {
                    @include rem(border, 2px solid $main-color);
                    @include rem(padding, 0px 20px 0 20px);
                }
            }
        }

        #popup-ok-button-container {
            display: block;
            @include rem(margin-top, 15px);
            text-align: center;

            #popup-ok-button {
                @include rem(width, 100px);
                
            }
        }

        button {
            @include rem(margin-top, 5px);
            display: inline-block;
            outline: none;
            vertical-align: top;
            background-color: #cecaca;
            cursor: pointer;
            font-family: $main-font;
            @include rem(letter-spacing, $default-letter-spacing);
            @include rem(font-size, $default-font-size/2);
            @include rem(line-height, $default-size/1.5);
            @include rem(border, 2px solid $main-color);
            @include rem(-webkit-border-radius, 5px);
            @include rem(border-radius, 5px);

            &:hover:not(:active) {
                background-color: $main-color;
                color: $main-color-bg;
            }

            &:active {
                background: #4d4d4d;
                color: $main-color-bg;
                @include rem(border, 2px solid #4d4d4d);
            }
        }
    }
}