$default-letter-spacing: -1px;

$default-size: 40px;
$default-secondary-size: 25px;
$default-font-size: 40px;


$mini-size: 30px;
$mini-secondary-size: 20px;
$mini-font-size: 30px;

$mini-letter-spacing: 1px;