<div *ngIf="poll">
	<div class="notebook-wrapper">
		<div class="notebook">
			<form id="vote-form" action="/" method="post">
			    <div class="question">{{poll.question}}</div>
			    <div class="question-type">{{poll.getPollTypeText()}}</div>
			    <div class="new-line"></div>
		        <div class="checkbox" *ngIf="poll.type==1">
			        <div *ngFor="let choice of poll.choices; let i = index">
					    <div class="entry">
		            <input type="checkbox" name="choices" id="{{i}}" value="{{i}}" checked="false" [(ngModel)]="checkChoices[i]"/>
		            <label for="{{i}}">{{choice.text}}</label>
				            
			            </div>
							</div>
						</div>
		        <div class="radio" *ngIf="poll.type==0">
			        <div *ngFor="let choice of poll.choices; let i = index">
					    <div class="entry">
		             <input type="radio" name="choices" id="{{i}}" value="{{i}}" checked="false" [(ngModel)]="radioChoices"/>
		            <label for="{{i}}">{{choice.text}}</label>
				            
		          </div>
	        	</div>
				</div>
		    <div class="new-line"></div>
		    <div id="submit-div">
				<button id="submit" (click)="submitVote()">Vote</button>
				<div id="space-submit"></div>
				<a id="results-button" value="Results" href="/poll/{{poll.id}}/results">Results</a>
				</div>
			</form>
		</div>
	</div>
</div>
<app-popups [(popup)]="popup"></app-popups>