<div class="notebook-wrapper">
<div class="notebook">
    <form id="poll-form" name="poll-form" action="/api/poll" method="post">
        <div id="choices-container">
            <input type="text" class="question" name="question" placeholder='Enter your question...' autocomplete="off" [(ngModel)]="poll.question" />
            <div class="new-line"></div>
            <div *ngFor="let choice of poll.choices; let i= index">
                <input class="choice" type="text" [(ngModel)]="choice.text" name="choices_{{i}}" autocomplete="off" placeholder="Enter an option..." (ngModelChange)="choiceChanged(i)"/>

            </div>
            <div class="question-options">
                <select name="poll_type" [(ngModel)]="poll.type">
                    <option value="0" selected="selected">Single Selection</option>
                    <option value="1">Multi Selection</option>
                </select>
            </div>

        </div>
<!--         <div class="question-options">
            
        </div> -->
        <button id="submit" value="" (click)="newPoll()" >Create poll</button>
    </form>
</div>
</div>
<app-popups [(popup)]="popup"></app-popups>